html{
    font-size: 15px;
    font-family: "Open Sans", sans-serif; 
    background-color: rgb(73, 114, 190);
}
 
main{
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

.momo{
    display: block;
    margin: 0 auto;
    width: 100%;
}

#opcion, #mandar{
    display: block;
    margin: 10% auto;
    width: 25%;
}

.lol{
    color: blue;
    margin: 0 auto;
    font-size: 120%;
}